<div class="container mobile">
    <div class="text-center">
        <h1>{{username}}'s Profile</h1>
        <div class="my-4 border-bottom border-2">
            <h3 class="text-danger">Personal Info</h3>
            <p class="fs-4">Name: {{name}}</p>
            <p class="fs-4">Email: {{email}}</p>
            <p class="fs-4">Location: {{location}} </p>
            <!-- Additional user information can go here -->
        </div>

        <div class="mb-4 border-bottom border-2">
            <h3 class="text-danger">Games I'm Interested In</h3>
            {{#if interested_games.length}}
            <div class="row">
                {{#each interested_games}}
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card text-bg-dark text-center m-4 bg-black bg-gradient">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.genre}}</p>
                            <a href="/games/{{this.id}}" class="btn btn-outline-danger btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <p class="fs-4">No games added to profile yet.</p>
            {{/if}}
        </div>

        <div class="mb-4">
            <h3 class="text-danger">Upcoming Joined Events</h3>
            {{#if attendees.length}}
            <div class="row">
                {{#each attendees}}
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card text-bg-dark text-center m-4 bg-black bg-gradient">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{format_date date_of}}</p>
                            <a href="/events/{{this.id}}" class="btn btn-outline-danger btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <p class="fs-4">Not participating in any upcoming events yet.</p>
            {{/if}}
        </div>

        {{#if isCurrentUser}}
        <div class="d-flex justify-content-center mb-5">
            <a href="/profile/edit" class="btn btn-danger">Edit
                Profile</a>
        </div>
        {{/if}}
    </div>
</div>