<div class="card text-bg-dark text-center m-4 bg-black bg-gradient">
    {{!-- <img src="{{image}}" class="card-img-top" alt="{{title}}"> --}}
    <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-3">{{genre}}</h6>
        <p class="card-text">Player Count: {{player_count}}</p>
        <p class="card-text">Average Play Time: {{avg_play_time}} min</p>
        <p class="card-text">Description: {{description}}</p>
        <a href="/games/{{id}}" class="btn btn-outline-danger">Learn More</a>
    </div>
</div>